h1 {
  position: relative;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0 10px;
}

h1::after {
  content: "";
  position: absolute;
  background-color: #631aa3;
  height: 3px;
  width: 70%;
  left: 15%;
  bottom: -5px;
}

.button {
  display: flex;
  width: 200px;
  line-height: 25px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background: #631aa3;
  justify-content: center;
  margin: 0 auto;
  margin-top: 10px;
}

#root {
  display: flex;
  place-content: center;
}

.container {
  width: 500px;
}
